template(name='nav')
    .ui.fluid.attached.borderless.inverted.big.blue.menu
        .header.item
            | d
            .ui.header f
            |b
            //- |efacebook
        .item 
            .ui.input 
                input(type='text' placeholder='search...')
        a.icon.item 
            i.shop.icon
        a.icon.item 
            i.users.icon
        a.icon.item 
            i.users.icon
        .right.menu
            a.icon.item
                i.plus.icon
            a.icon.item
                i.chat.icon
            a.icon.item
                i.bell.icon
            a.icon.item
                i.user.icon
        
